<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar__bar">
    <span
      class="main-logo"
      routerLink="/"
    >Angular Wonders</span>
    <span class="example-spacer"></span>
    <div>
      <mat-icon
        routerLink="/create"
        routerLinkActive="mat-elevation-z8"
        class="example-icon"
        aria-hidden="false"
      >create</mat-icon>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
      >account_circle</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <app-main-nav></app-main-nav> -->