
<mat-card class="content">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onAddPost()" *ngIf="!isLoading">
    <mat-card-title>Card Title</mat-card-title>
    <mat-form-field>
      <input
        type="text"
        placeholder="Título"
        formControlName="title"
        matInput
      >
      <mat-error
        *ngIf="form.get('title').invalid"
      >
        {{getTitleError()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input
          matInput
          placeholder="Autor"
          formControlName="author"
          type="text"
        >
    </mat-form-field>

    <mat-form-field>
      <textarea
        placeholder="Comece a me contar o que você sabe..."
        rows="6"
        formControlName="content"
        matInput
      >
      </textarea>
      <mat-error
        *ngIf="form.get('content').invalid"
      >
        {{getContentError()}}
      </mat-error>
    </mat-form-field>
      <div class="button__content" style="justify-content: space-around;">
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="filePicker.click()"
          >
            Enviar Imagem
          </button>
          <input type="file" #filePicker>
        </mat-card-actions>
        <div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
          >
            Adicionar Post
        </button>
        </div>
      </div>
  </form>
</mat-card>
