mat-card {
  width: 80%;
  margin: auto;
}
mat-form-field,
textarea {
  width: 100%;
}
mat-spinner {
  margin: auto;
}
.content {
  padding: 2rem;
}
.button__content {
  display: flex;
  align-items: center;
}
input[type="file"] {
  visibility: hidden;
}
