// .mat-form-field-infix {

// }

mat-card {
  width: 80%;
  margin: auto;
}
mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.content {
  padding: 2rem;
}

// .button__content {
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
// }

input[type="file"] {
  visibility: hidden;
}

.image-preview img {
  height: 7.5rem;
}
