mat-card {
  width: 80%;
  margin: auto;
}

mat-expansion-panel {
  width: 87.5%;
  margin: auto;
  margin-top: .5rem;
}

mat-expansion-panel-header {
  max-height: 3rem;
}

mat-spinner {
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}

.content {
  margin-top: .5rem;
  padding: 2rem;
}
