<mat-accordion *ngIf="posts.length > 0; else noContent">
  <mat-expansion-panel *ngFor="let post of posts">

    <mat-expansion-panel-header>
      <mat-panel-title>{{ post.title }}</mat-panel-title>
      <mat-panel-description>{{ post.author ? post.author : 'Desconhecido' }}</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-divider></mat-divider>

    <div>
      <p>{{ post.content }}</p>
    </div>

    <mat-action-row>
      <button mat-raised-button color="accent" (click)="nextStep()">Editar<mat-icon>edit</mat-icon></button>
      <button mat-raised-button color="warn" (click)="deletePost(post.id)">Excluir<mat-icon>delete_forever</mat-icon></button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

<ng-template #noContent>
  <mat-card class="content">
    <mat-card-title>
      Tá na hora de começar! Cadastre um post e veja listado aqui!
    </mat-card-title>
    <mat-card-content>
      Insira uma postagem para começar seu legado!
    </mat-card-content>
  </mat-card>
</ng-template>
