<mat-spinner *ngIf="isLoading"></mat-spinner>

<span *ngIf="!isLoading">
  <mat-accordion *ngIf="posts.length > 0; else noContent">
    <mat-expansion-panel *ngFor="let post of posts" class="panel__item">

      <mat-expansion-panel-header>
        <div class="header__title">
          <div class="header__item--title">{{ post.title }}</div>
          <div class="header__item--author">
            {{ post.author ? post.author : 'Desconhecido' }}
          </div>
        </div>
      </mat-expansion-panel-header>

      <mat-divider></mat-divider>

      <div>
        <p>{{ post.content }}</p>
      </div>

      <mat-action-row>
        <a
          mat-raised-button
          color="accent"
          [routerLink]="['/edit', post.id]"
        >
          Editar
          <mat-icon>edit</mat-icon>
        </a>
        <button
          mat-raised-button
          color="warn"
          (click)="deletePost(post.id)"
        >
          Excluir
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</span>

<ng-template #noContent *ngIf="!isLoading">
  <mat-card class="content">
    <mat-card-title>
      Tá na hora de começar! Cadastre um post e veja listado aqui!
    </mat-card-title>
    <mat-card-content>
      Insira uma postagem para começar seu legado!
    </mat-card-content>
  </mat-card>
</ng-template>
